* {
  font-family: monospace;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: rgb(9, 45, 71);
  padding: 4rem;
  box-shadow: 0 4px 5px rgba(1, 1, 1, 1);
  font-size: large;
  position: relative;
  z-index: 10;
}

.nav-item {
  display: flex;
  float: right;

}

.nav-item li {
  list-style: none;
  padding-left: 2rem;;
}

.nav-item li a{
  text-decoration: none;
  color: #ffffff;
}

.stats-main {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5rem;
  width: 100%;
  background-color: rgb(203, 203, 207);
}

.stats-buttons-block {
  display: flex;
  flex-direction: column;
}

.stats-buttons-div {
  padding-bottom: 5rem;

}

.buttons {
  padding: 4rem;
  width: 15rem;
  background-color: rgb(9, 45, 71);
  color: white;
  border-radius: 1rem;
}

.buttons:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(1, 1, 1, 0.2);
  cursor: pointer;
}

.stats-blocks {
  background-color: #dfdfdf;
  width: 65rem;
  height: 36rem;
  border-radius: 1rem;
  padding: 2rem;
  overflow-y: scroll;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid rgb(9, 45, 71);
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  animation: spin 2s linear infinite;
  margin: auto;
}

th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: rgb(9, 45, 71);
  color: white;
}

.info-block {
  background-color: white;
}

input {
  width: 20rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: solid 0.5px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

